build:
  type: None
  content: ''
deploy:
  type: text
  content: |
    #/bin/sh
    kubectl apply -n $ROOST_NAMESPACE -f ballot/ballot.yaml

    kubectl apply -n $ROOST_NAMESPACE -f ecserver/ecserver.yaml
test: []
uninstall:
  type: text
  content: |-
    #/bin/sh

    kubectl delete -n $ROOST_NAMESPACE -f ballot/ballot.yaml

    kubectl delete -n $ROOST_NAMESPACE -f ecserver/ecserver.yaml
dockerCompose: ''
lastUpdatedBy: Vivek K B
lastUpdatedOn: 2023-04-06T09:34:57.083Z
