app_dependencies:
  type: text
  content: |
    #!/bin/sh
app_deploy:
  type: text
  content: |+
    #/bin/sh

app_test: []
app_uninstall:
  type: text
  content: |-
    #!/bin/sh

    helm uninstall testnow-helm-vote
app_docker_compose: ''
lastUpdatedBy: Divyesh Maheshwari
lastUpdatedOn: 2023-03-03T07:14:00.245Z
