build:
  type: text
  content: |-
    #/bin/sh
    docker build -f ballot/Dockerfile -t ballot:$GIT_COMMIT_ID ballot 
    docker tag ballot:$GIT_COMMIT_ID  ballot:$ROOST_NAMESPACE  
deploy:
  type: text
  content: '#/bin/sh'
test: []
uninstall:
  type: None
  content: ''
dockerCompose: docker-compose.yaml
lastUpdatedBy: Bhavya Goswami
lastUpdatedOn: 2023-03-02T06:03:51.958Z
