build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: netlify
  content:
    site_env:
      - key: REACT_APP_TEST
        value: value1
        proxyPort: false
      - key: REACT_APP_2
        value: ''
        proxyPort: true
        port: '30040'
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
lastUpdatedBy: Ishan Rai
lastUpdatedOn: 2023-03-01T07:28:49.260Z
