app_dependencies:
  type: text
  content: |-

    #changed
app_deploy:
  type: text
  content: |

    HELM_OPTS=""
    helm upgrade voter-app-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
app_test: []
app_uninstall:
  type: text
  content: ''
lastUpdatedBy: afsal
lastUpdatedOn: 2022-12-15T20:54:45.131Z
